<!DOCTYPE html>

<head>
    <style>
        .main_body
        {
            background-color: white;
            color : black;
            width : 100%;
        }

        .side_bar
        {
            background-color: Red;
            color : Black;
            width : 40%;
        }
    </style>

</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<body>
        <div class="main_body">
            <h1> Kombawa bitches </h1>
            <center>
            <div>
                <canvas id = "bar_chart"></canvas>
                
            </div>
            </center>
            <div>
                <canvas id = "pie_chart"></canvas>
            </div>

            <script>
                const xValues = [1,2,3,4];
                const yValues = [1,2,3,4];
                new Chart 
                ( 
                    "bar_chart",
                {
                    type : "bar",
                    data:
                    {
                        labels : xValues,
                        datasets:
                        [
                            {
                                    backgroundColor : "#FFC0CB",
                                    borderColor : "#FFFFFF",
                                    data : yValues

                            }



                        ],
                    }
                }



                );
                
                const fuckyou = ["My Life is Shit", "Im gonna kill myself"];
                const Vals = [50, 50];
                new Chart(
                        "pie_chart",
                
                        {
                            type :"pie",
                            data:
                            {
                                labels : fuckyou,
                                datasets :
                                [
                                    {
                                        
                                        borderColor : 0,
                                        data : Vals,
                                        backgroundColor : ["Green", "Orange"],
                                        hoverOffset : 5
                                    }
                                ], 
                            }


                        }

        
                );
                const x = []
            </script>
        </div>

</body>